

@font-face {
  font-family: 'AvenirHeavy';
  src: url('./fonts/AvenirLTStd-Heavy.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



::-webkit-scrollbar {
  width: 0px;
}


.c {
  color: #50C878; /* Emerald color */
}

